<div [changeColor]="color">
  <app-header (changingColor)="selectColor()"></app-header>
  <app-add-item
    (addNewItem)="addItem($event)"
    (hidingItems)="hideItems()"
  >
  </app-add-item>
  <div class="task-list">
    <ng-container *hide="isShowItems">
      <app-item
        *ngFor="let item of items;
        let index = index"
        [itemName]="item"
        (delete)="deleteItem(index)"
        (changed)="changeItem($event, index)"
      >
      </app-item>
    </ng-container>
  </div>
</div>

